.area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
.area .formulario
{
  position:absolute;
  display:block;
}
.fieldset
{
  width:300px;
  height:250px;
}

/* Conteudo.module.css */
.conteudo {
  background-color: pink; /* Adicione a cor de fundo pink */
  padding: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  color: purple; /* Adicione a cor roxa para as palavras Nome, Email, e Confirmação de Senha */
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: purple; /* Adicione a cor roxa para o botão */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}
