/* Cabecalho.module.css */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(232, 129, 184);
  }
  
  .logo {
    width: 3cm;
    height: auto;
  }
  
  .titulo {
    font-size: 3rem;
    color: rgb(210, 30, 87);
    flex-grow: 1; /* Ocupa o espaço disponível e empurra o menu para a direita */
    text-align: center; /* Centraliza o texto */
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: 1000;
  }
  
  .menu {
    display: flex;
  }
  
  .menuIcon {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #fff;
  }
  